.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 20px;
}

ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.day-of-week, .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0rem 1.5rem;
    border: 1px solid lightgray;
}

.days-grid {
    grid-template-rows: repeat(6, 1fr);
    
}

.calendar-day {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 100px;
    font-size: 20px;
    background-color: #fff;
    /*color: var(--text);
    padding: 5px;
    border-color: solid 1px var(--text);*/
    border-bottom: 1px solid lightgray;
}

.previous-month-day, .next-month-day {
    color: #C1C1C1;
    cursor: not-allowed;
}

.month-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}

.day-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 40px;
    font-size: 20px;
    background-color: #fff;
    color: var(--text);
    padding: 5px;
}

.day-name > span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    right: 2px;
    width: var(--day-label-size);
    height: var(--day-label-size);
}